<h1 class="text-info">START MATCH HERE!</h1>

<form method="post" action="/match/create">
    
    <div class="btn-group col-sm-2">
      <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button" data-toggle="dropdown">
        Player 1 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <% @players.each do |player| %>

        <option value = "<%= player.id %>"><%= player.first_name %></option>

        <% end %>
      </ul>
    </div>

    <div class="btn-group col-sm-2">
      <button class="btn btn-success btn-lg btn-block dropdown-toggle" type="button" data-toggle="dropdown">
        Player 2 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <% @players.each do |player| %>

        <option value = "<%= player.id %>"><%= player.first_name %></option>

        <% end %>
      </ul>
    </div>

    <!-- SELECT PLAYER TO SERVE  START-->
    <div class="btn-group col-sm-2">
      <button class="btn btn-default btn-lg btn-block dropdown-toggle" type="button" data-toggle="dropdown">
        Select Server<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <% @players.each do |player| %>

        <option value = "<%= player.id %>"><%= player.first_name %></option>

        <% end %>
      </ul>
    </div>
    

    <!-- SELECT PLAYER TO SERVE END -->
 
    <div class="btn-group col-sm-2">
      <button type="submit" class="btn btn-default btn-lg btn-block">Submit</button>
    </div>

    

   <!--  <button type="submit" class="btn btn-lg btn-default">Submit</button> -->
      

    <!-- alternative to button -->

    <!-- <select class="selectpicker" name="player1">
          	<#% @players.each do |player| %>

              <option value = "<#%= player.id %>"><#%= player.first_name %></option>

      		<#% end %>
      	</select>
        

          <select class="selectpicker" name="player2">
          	<#% @players.each do |player| %>

          	<option value = "<#%= player.id %>"><#%= player.first_name %></option>
      		<#% end %>
      	</select> -->

    <!-- alternative to button -->

</form>





