

<% if win? %>
    <h1 class="text-info">YOU WON </h1>

<% end %>
<!-- ======= -->
<div class="page-header">
<h1>
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="https://www.sportyhq.com/assets/img/sportyhq-w.png">
      </a>

    <!-- <h1 class="text-info">Squasher -->

    
      
    <form method="post" action="/match/create" >
    <div class="row">
    
      <div class="col-sm-3 col-sm-offset-9">
            <button type="submit" class="btn btn-danger btn-default btn-block">
                Start Match <span class="glyphicon glyphicon-flag"></span>
            </button>
                <button type="submit" class="btn btn-primary btn-block" data-toggle="modal" data-target="#serve_side_modal">Select side</button>
      </div>
    </div>
    <div class="row">

        <div class="col-sm-3 col-sm-offset-9">
            <select name="player_1">
            <option value ='default'>Select Player 1</option>
              <% @players.each do |player| %>
              <option value = "<%= player.id %>"><%= player.first_name %></option>
            <% end %>
            </select>
        
            <select name="player_2">
            <option value ='default'>Select Player 2</option>
              <% @players.each do |player| %>
              <option value = "<%= player.id %>"><%= player.first_name %></option>
            <% end %>
            </select>
            <% if @first_player %>
<form method="post" action="/match/serve" >
   <select name="ServeFirst" id="ServeFirst">
      <option value ='default'>Select Game 1 Server</option>
      <option value = "<%= @first_player.id %>"><%= @first_player.first_name %></option>
      <option value = "<%= @second_player.id %>"><%= @second_player.first_name %></option>

  </select>

</form>
<% end %>
        </div>
    </div>
    </form>
<!-- >>>>>>> origin/frontend4 -->

</h1>
</div>  
    

<div class="row top-buffer">


  <form method="post" action="rallies/new_player_1_rally">
  
    <div class="col-md-6">
    <h3 class="text-info">Player 1 score: <%= @player_1_rally.count %> </h3>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Point for Player 1</button></div></form>

  <form method="post" action="rallies/new_player_2_rally">
    <div class="col-md-6">
    <h3 class="text-info">Player 2 score: <%= @player_2_rally.count %> </h3>
    <button type="submit" class="btn btn-success btn-lg btn-block">Point for Player 2</button></div></form>

</div>

<table class="table table-bordered table_style">
    <thead>
        <tr>
            <th class="col-md-1">Rally</th>
            <th class="col-md-5">Player 1: Score</th>
            <th class="col-md-6">Player 2: Score</th>
        </tr>
    </thead>
    <tbody>

  <% @rally.each do |rally| %> 

        <tr>

            <td><%= rally.id %></td>
            <td><%= rally.player_1_score %></td>
            <td><%= rally.player_2_score %></td>
        </tr>
    <% end %>

    </tbody>
</table>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="serve_side_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Select Serve Side</h4>
      </div>
      <div class="modal-body">
 
      <div class="row">
            <button type="button" class="btn btn-info col-sm-4 col-sm-offset-2"> SERVING LEFT</button>
            <button type="button" class="btn btn-warning col-sm-4" >SERVING RIGHT</button>
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
